<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="assets/Frame.svg" alt="логотип сайта">
        </div>
           <nav class="header-nav">
            <div class="header-nav-item">Главная</div>
            <div class="header-nav-item">О компании</div>
            <div class="header-nav-item">Католог</div>             
           </nav> 
    </div>
        <div class="header-right">
            <div class="header-Phone">
                <img src="assets/Phone.svg" alt="трубка">
            </div>
                <nav class="phone-nav">
                    <div class="phone-nav-one">+7 (965) 084-29-29</div>
                </nav>
               <div class="header-heart">
                    <img src="assets/heart 1.svg" alt="сердечько">
               </div>
          <button class="one">
            <img src="assets/Mask group.svg" alt="корзина"> 
                <nav class="nav">
                    <div class="nav-one">Пусто</div>
                </nav>      
          </button>
        </div>

</div>
<div class="light">
    <div class="light-left">
        <div class="light-line">
            <img src="assets/light.svg" alt="строки">
        </div>
            <nav class="light-nav">
                <div class="light-nav-apple"> Каталог</div>
                <div class="light-nav-apple"> Стройматериалы</div>
                <div class="light-nav-apple"> Инструменты</div>
                <div class="light-nav-apple"> Электрика</div>
                <div class="light-nav-apple"> Интерьер и одежда</div> 
            </nav>
            
    </div>
    <div class="light-right">
            <input class="search" type="search" placeholder="Поиск, например Круг зачистной">          
        <button class="mask">
            <img src="assets/Mask group a.svg" alt="лупа">
        </button>
        <div class="map">
            <img src="assets/map-pin (2) 1.svg" alt="капля">
            <button class="country" type="menu">Москва</button>
        </div>
    </div> 
</div>
<div>
    <img src="assets/Rectangle 5 (9).jpg" width="1707" alt="фото"> 
</div>
<div class="item-cards">
    <div class="item-cards__pagination">

    </div>
    <div class="item-cards__grid">456</div>
</div>
